#Node
**/node_modules

#Secrets
secrets.json
**/secrets.json

#Truffle
build

#Open Zepplin (oz)
.openzeppelin/.session

#Buidler
cache
artifacts

#Not sure
.DS_Store
*.swp
*.swo
contracts.orig
bower_components
